<Files "*">
    Require all denied
</Files>

# Except for the entry point that Symfony actually needs
<Files "public/index.php">
    Require all granted
</Files>

# Prevent hackers from seeing your directory list
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /cointer/

    # If the user tries to access .env or composer.json, they hit the 'denied' rule above.
    # Otherwise, we secretly pipe all requests into the public folder.
    RewriteCond %{REQUEST_URI} !^/cointer/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
